* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #20232a;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    height: 100vh;
}

#container {
    width: 300px;
    height: 70vh;
    border-radius: 20px;
    background-color: #333;
    padding: 20px;
    box-shadow: 0 0 20px black;
    text-align: center;

    >.header {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;

        >h1 {
            margin-bottom: 20px;
            color: #f17110;
            font-size: 25px;
            margin-left: 10px;
        }

        >span {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: transparent;
            margin-right: 10px;
            cursor: pointer;

            >i {
                font-size: 30px;
                color: #f17110;
            }
        }

    }
}



input {
    width: 90%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: none;
    margin: 10px auto;
    text-align: right;
    padding-right: 10px;
    font-size: 18px;
    text-align: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

button {
    margin-top: 20px;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: #555;
    color: white;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: #777;
    }
}

#sum {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #f17110;
    text-align: center;
}


#container.light {
    background-color: #ffffff;
    color: #222;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
#container.light>.buttons>button{
    background-color: #f17110;
}
#container.light>input{
    background-color: #777;
}
#container.light>input::placeholder{
    color: #333;
}

